<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Agyunk Titkai</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
</head>
<body>
<nav>
  <a href="{{ '/' | url }}"><strong>Agyunk Titkai</strong></a>
  <ul>
    <li><a href="{{ '/about/' | url }}">Miért a Pszichológia?</a></li> 
    <li><a href="{{ '/posts/' | url }}">Cikkek</a></li>
    <li><a href="{{ '/disc/' | url }}">DISC Teszt</a></li> 
  </ul>
</nav>

  <main>
    {{ content | safe }}
  </main>

<footer>
  <p>&copy; {{ "" | year }} Built with 11ty</p>
</footer>
</body>
</html>
